html,
body
{
	padding: 0 !important;
	margin: 0 !important;
	width: 100%;
	height: 100%;
}



.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}
.legend {
	text-align: left;
	line-height: 18px;
	color: #555;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}
.leaflet-top-pane {
	pointer-events: none;
}

path.leaflet-clickable {
	stroke-linejoin: round;
	stroke-linecap: round;
	fill-rule: evenodd;
	stroke: black;
	stroke-opacity: 0.8;
	stroke-width: 1px;
	fill: none;
	fill-opacity: 0.2;
}

#start, #stop, #weekend, #weekday, #time {
/*	font-size: 1.3em;*/
	font-family: sans-serif;
}

.container {
	width: 100%;
	height: 100%;
	margin: 0 !important;
	padding: 0 !important;
	position: absolute;
	bottom: 0px;
}

.slider-container {
	display:block;
	margin: 0 auto;
	width: 85%;
}



.button-container {
	display: block;
	text-align: center;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

.edge {
	opacity: 0.8;
	fill: none;
}

h2 {
	font-weight: normal;
}

.about {
	margin: 1em;
}

#time {
	font-size: 3em;
	display: block;
	text-align: center;
	font-weight: bold;
}

.button {
	display: block;
	padding: 0.3em;
	width: 85%;
	margin: 0.6em auto 0.2em auto;
	padding: 0.2em;
	border: none;
	background: transparent;
	background-color: lightblue;
}

#map {
	height: 100%;
}

@media (max-width: 767px) {

	#map {
		height:60%;
	}

	#time {
		font-size: 2em;
	}

	.button {
		display: inline-block;
		font-size: 0.8em;
		width: 45%;
		margin: 0.8em 0.2em 0.2em 0.2em;
		padding: 0.6em;
	}
}